<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Forget Password</title>
     <link rel="stylesheet" href="../css/bootstrap.min.css">
     <link rel="stylesheet" href="../css/style2.css">
</head>
<body >
     
<div class="container" >
     <div class="section">
          <h4 class="text-center text-white">Forget Password</h4>
          <h6 class="text-center text-info">Please fill in info to Verify</h6>

          <div class="form-group mt-3">
               <label for="">Full Name</label>
               <input type="text" class="form-control mt-2">
          </div>

          <div class="form-group mt-3">
               <label for="">Identity No</label>
               <input type="text" class="form-control mt-2">
          </div>

          <div class="form-group mt-3">
               <label for="">Email</label>
               <input type="text" class="form-control mt-2">
          </div>

          <div class="form-group mt-3">
               <label for="">Password</label>
               <input type="password" class="form-control mt-2">
          </div>

          <div class="form-group mt-3">
               <label for="">Re-Password</label>
               <input type="password" class="form-control mt-2">
          </div>

          <div class="mt-4 d-flex justify-content-end ">
               <!-- <div class="col-6"> -->
                    <button class="btn btn-block btn-danger px-3 mx-3" onclick="location.href='atm-dashboard.html'">Cancel</button>
               <!-- </div> -->
               <!-- <div class="col-6"> -->
                    <button class="btn btn-block btn-success px-3" onclick="location.href='new-password.html'">Verify</button>
               <!-- </div> -->
          </div>
     </div>
</div>

</body>
</html>