<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>Sign In</title>
     <link rel="stylesheet" href="../css/bootstrap.min.css" />
     <link rel="stylesheet" href="../css/style2.css" />
</head>

<body>
     <div class="container">
          <div class="section">
               <h4 class="text-center">ATM Machine - Log In</h4>

               <div class="form-group mt-3">
                    <label for="">Full Name</label>
                    <input type="text" class="form-control mt-2" />
               </div>

               <div class="form-group mt-3">
                    <label for="">Password</label>
                    <input type="password" class="form-control mt-2" />
               </div>

               <div class="mt-3 d-flex justify-content-center">
                    <button class="btn btn-block btn-success px-5" onclick="location.href='atm-dashboard.html'">
                         Login
                    </button>
               </div>

               <div class="mt-3 d-flex justify-content-center">
                    If don't an account ? &nbsp; <a href="register.html">Sign Up</a>
               </div>
          </div>
     </div>
</body>

</html>