<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <title>Education</title>
     <link rel="stylesheet" href="../../css/bootstrap.min.css" />
     <link rel="stylesheet" href="../../css/style2.css" />
</head>

<body>
     <div class="container">
          <div class="section">
               <h4 class="text-center text-white">Education</h4>

               <div class="form-group mt-3">
                    <label for="">Instant Account Number</label>
                    <input type="text" class="form-control mt-2" value="123 456 789" disabled />
               </div>

               <div class="form-group mt-3">
                    <label for="">Balance</label>
                    <input type="text" class="form-control mt-2" value="$ 1,282" disabled />
               </div>

               <div class="formg-group mt-3">
                    <label for="">School/University</label>
                    <select class="form-control mt-2">
                         <option selected disabled>Select School/University</option>
                         <option value="">Setec Institute</option>
                         <option value="">Aii Language</option>
                         <option value="">RUPP</option>
                         <option value="">CamEd Institute</option>
                         <option value="">CIA First</option>
                    </select>
               </div>

               <div class="form-group mt-3">
                    <label for="">Student ID</label>
                    <input type="text" class="form-control mt-2" />
               </div>

               <div class="form-group mt-3">
                    <label for="">Amount</label>
                    <input type="number" class="form-control mt-2"  />
               </div>

               <div class="mt-4 d-flex justify-content-end">
                    <button class="btn btn-block btn-danger px-3 mx-3" onclick="location.href='../payment-list.html'">
                         Cancel
                    </button>
                    <button type="submit" class="btn btn-block btn-success px-3"
                         onclick="location.href='../atm-dashboard.html'">
                         Deposit
                    </button>
               </div>
          </div>
     </div>
</body>

</html>